// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// CSS HERE TAYLOR

/* Global */
.container:focus {
  outline: none !important;
}
.btn-green {
  border-color: $green;
  color: $green !important;
}

#banner-headline {
  font-family: 'Times New Roman', Times, serif;
  background-color: $light-green;
  //box-shadow: 0 8px 6px -6px $gray-500;
  box-shadow: 0 4px 4px -2px $gray-500;
}

/* Header */
header {
  #header-menu-address-phone {
    i {
      font-size: 1.5rem;
      opacity: .7;
    }
  }
  .entry-title {
    color: $orange;
  }
}
/* Navbar */
body nav.navbar {
    padding: 1.5rem 0;
    flex-wrap: nowrap;
    .navbar-toggler {
      border-color: $green !important;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(103, 158, 56,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
    

    .custom-navbar-logo-wrapper {
        position: relative;
        @media only screen and (max-width: 768px){
          max-width: 75%;
        }
        &:before {
            content: '';
            position: absolute;
            right: 0px;
            top: 0px;
            width: 1500px;
            height: 100%;
            background:$light-gray;
            transform: skewX(-20deg);
        }
        .navbar-brand.custom-logo-link {
            color: $navbar-dark-brand-color;
            display: block;
            position: relative;

            @include hover-focus() {
                color: $navbar-dark-brand-hover-color;
            }
        }
    }
    .navbar-nav {
        .nav-link {
          color: $white;
    
          @include hover-focus() {
            color: $navbar-dark-color;
          }
    
          &.disabled {
            color: $navbar-dark-disabled-color;
          }
        }
    
        .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
          color: $navbar-dark-color;
        }
      }
    
      .navbar-toggler {
        color: $navbar-dark-color;
        border-color: $navbar-dark-toggler-border-color;
      }
    
      .navbar-toggler-icon {
        background-image: escape-svg($navbar-dark-toggler-icon-bg);
      }
    
      .navbar-text {
        color: $navbar-dark-color;
        a {
          color: $navbar-dark-active-color;
    
          @include hover-focus() {
            color: $navbar-dark-active-color;
          }
        }
      }
}