// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// CSS HERE TAYLOR

/* Global */
.container:focus {
  outline: none !important;
}

/* Header */
header {
  #header-menu-address-phone {
    i {
      font-size: 1.5rem;
      opacity: .7;
    }
  }
}
/* Navbar */
nav.navbar {
    padding: 1.5rem 0;
    .custom-navbar-logo-wrapper {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            right: 0px;
            top: 0px;
            width: 1500px;
            height: 100%;
            background:$light-gray;
            transform: skewX(-20deg);
        }
        .navbar-brand.custom-logo-link {
            color: $navbar-dark-brand-color;
            display: block;
            position: relative;

            @include hover-focus() {
                color: $navbar-dark-brand-hover-color;
            }
        }
    }
    .navbar-nav {
        .nav-link {
          color: $white;
    
          @include hover-focus() {
            color: $navbar-dark-color;
          }
    
          &.disabled {
            color: $navbar-dark-disabled-color;
          }
        }
    
        .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
          color: $navbar-dark-color;
        }
      }
    
      .navbar-toggler {
        color: $navbar-dark-color;
        border-color: $navbar-dark-toggler-border-color;
      }
    
      .navbar-toggler-icon {
        background-image: escape-svg($navbar-dark-toggler-icon-bg);
      }
    
      .navbar-text {
        color: $navbar-dark-color;
        a {
          color: $navbar-dark-active-color;
    
          @include hover-focus() {
            color: $navbar-dark-active-color;
          }
        }
      }
}