// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// CSS HERE TAYLOR

/* Header */

/* Navbar */
nav.navbar {
    padding: 1rem 0;
    .custom-navbar-logo-wrapper {
        // background-color: $light-gray;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            right: 0px;
            top: 0px;
            width: 1500px;
            height: 100%;
            background:$light-gray;
            transform: skewX(-20deg);
        }
        .navbar-brand.custom-logo-link {
            display: block;
            position: relative;
        }
    }
}
